<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">PENGADUAN</legend>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nama Lengkap">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Alamat">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="No Handphone">
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Aduan"></textarea>
        </div>
        <a mat-raised-button href="public/home">KIRIM</a>
    </fieldset>
</form>
