.bimoli-card {
    max-width: 240px;
    margin-top: 50px;
    margin-left: 60px;
    font-family: sans-serif;
  }
.bimoli-card-title {
    font-style: italic;
    color: red;
}
.bimoli-card-content {
    justify-content: center
  }
.bimoli-header-image {
    background-image: url('/assets/bimoli.png');
    background-size: 50px;
}
.bimoli-image {
    background-position: center;
}
.pepso-card {
  max-width: 240px;
  margin-top: 50px;
  margin-left: 60px;
  font-family: sans-serif;
}
.pepso-card-title {
  font-style: italic;
  color: red;
}
.pepso-card-content {
  justify-content: center
}
.pepso-header-image {
  background-image: url('/assets/pepso.png');
  background-size: 50px;
}
.pepso-image {
  background-position: center;
}

.mamalemon-card {
    max-width: 240px;
    margin-top: 50px;
    margin-left: 60px;
    font-family: sans-serif;
  }
  .mamalemon-card-title {
    font-style: italic;
    color: red;
  }
  .mamalemon-card-content {
    justify-content: center
  }
  .mamalemon-header-image {
    background-image: url('/assets/mamaalemon.png');
    background-size: 50px;
  }
  .mamalemon-image {
    background-position: center;
  }