.h3 {
    font-size: 30px;
    font-style: italic;
}
.uk-card-title {
    color:rgb(18, 44, 78);
    font-size: 35px;
    font-family: 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: bold;
}
.h3 {
    font-size: 20px;
    color: yellow;
}