<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-color: white ; background-size: cover; background-position: center;">
<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">SEJARAH</h3>
        <img src="assets/logo.png" width="420" height="400" alt="">
    <h3>Awal mulai berdirinya Sinaria Grosir pada tahun 2019 adalah sebagai toko ritel UMKM yang dirilis oleh seorang
        Mahasiswa guna memenuhi kebutuhan rumah tangga. Sinaria grosir menyediakan berbagai kebutuhan rumah tangga
    seperti makanan, minuman, dan peralatan rumah tangga lainnya dengan harga yang terjangkau</h3>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m"  style="background-color: bisque;">
    <h1> TUJUAN </h1>
    <div class="uk-column-1-2 uk-column-divider">
        <h3> Ingin mengembangkan usaha UMKM salah satunya dibidang toko ritel, sehingga memperluas lowongan pekerjaan dan mempermudah masyakarat untuk memenuhi kebutuhan. </h3>
    
        <h3> Menyediakan kebutuhan rumah tangga dengan harga yang sangat terjangkau terkhusus bagi masyarakat yang ingin menjadi reseller akan mendapatkan harga yang lebih murah. </h3>
    
        <blockquote cite="#" class="uk-column-span">
            <p> "Belanjalah sesuai dengan kebutuhanmu dan Jangan lupa berbagi dengan sesama."</p>
        </blockquote>
    
    </div>
    </div>
    </div>