<div class="uk-flex">
  <div class="uk-card uk-card-default uk-card-body uk-margin-left">2</div>
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-right uk-cover-container">
          <h3 class="uk-card-title">BISKUIT ROMA KELAPA </h3>
          <img class="uk-border-rectangle" width="200" height="150" src="assets/roma.png">
        </div>
        <div class="uk-card-body">
        <p>Rp 8.000</p>
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
    </div>
</div>

  <div class="uk-card uk-card-default uk-card-body uk-margin-left">2</div>
  <div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-right uk-cover-container">
          <h3 class="uk-card-title">MONDE BUTTER COOKIES </h3>
          <img class="uk-border-rectangle" width="200" height="150" src="assets/monde.png">
        </div>
        <div class="uk-card-body">

          <p>Rp 8.000</p>
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
    </div>
</div>
</div>