<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
      <tr>
          <th>Nama Karyawan</th>
          <th>Posisi</th>
          <th>Kontak Handphone</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Andi Demawan</td>
          <td>Stok Gudang</td>
          <td>12345</td>
      </tr>
      <tr>
          <td>Rismawati</td>
          <td>Admin Toko</td>
          <td>0899999</td>
      </tr>
      <tr>
          <td>Andia setiawan</td>
          <td>Kurir</td>
          <td>123456</td>
      </tr>
  </tbody>
</table>