<div class="uk-flex">
  <mat-card class="kapalapi-card">
      <mat-card-header>
        <div mat-card-avatar class="kapalapi-header-image"></div>
        <mat-card-title>KAPAL API</mat-card-title>
        <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/kapalapi.png">
      <mat-card-content>
        <p>Harga: Rp7.000 /pcs </p>
        <p>Harga: Rp165.000 /24pcs</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="coklat-card">
      <mat-card-header>
        <div mat-card-avatar class="coklat-header-image"></div>
        <mat-card-title>CHOCOLATOS</mat-card-title>
        <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/coklat.png">
      <mat-card-content>
        <p>Harga: Rp3.000 /pcs </p>
        <p>Harga: Rp70.000 /24pcs</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="goday-card">
      <mat-card-header>
        <div mat-card-avatar class="goday-header-image"></div>
        <mat-card-title>GoodDay</mat-card-title>
        <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/godday.png">
      <mat-card-content>
        <p>Harga: Rp3.000 /pcs </p>
        <p>Harga: Rp70.000 /24pcs</p>
      </mat-card-content>
    </mat-card>
  </div>
  