<div class="uk-flex">
<mat-card class="makanan-card">
    <mat-card-header>
      <div mat-card-avatar class="home-header-image"></div>
      <mat-card-title>MAKANAN</mat-card-title>
      <mat-card-subtitle>sinaria grosir</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/food.png">
    <mat-card-content>
      <p> Menyediakan Aneka Jenis Makanan</p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button href="/public/makanan">LIHAT</a>
    </mat-card-actions>
  </mat-card>


    <mat-card class="minuman-card">
    <mat-card-header>
      <div mat-card-avatar class="home-header-image"></div>
      <mat-card-title>MINUMAN</mat-card-title>
      <mat-card-subtitle>sinaria grosir</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/drink.png">
    <mat-card-content >
      <p> Menyediakan Aneka Jenis Minuman</p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button href="/public/minuman">LIHAT</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="perlengkapan-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PERLENGKAPAN</mat-card-title>
      <mat-card-subtitle>sinaria grosir</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/home.png">
    <mat-card-content>
      <p>
        Menyediakan Perlengkapan Rumah Tangga </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="/public/perlengkapan">LIHAT</a>
    </mat-card-actions>
  </mat-card>
  </div>