<p>
    <mat-toolbar color="primary">
      <span>SINARIA GROSIR</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      </button>
       <a mat-button href="/public/home">BERANDA</a>
       <a mat-button href="/public/tentangkami">TENTANG KAMI</a>
       <a mat-button href="/public/katalog">KATALOG</a>
       <a mat-button href="/public/katalog">PROMOSI</a>

        <div class="uk-width-expand"></div>
        <ul class="uk-breadcrumb">
        <li><a href="public/bantuan">Bantuan</a></li>
    </ul>
        <div class="col-md-12 uk-text-right">
       <a mat-button href="/public/hubungi">HUBUNGI KAMI</a>
       </div>
    </mat-toolbar>
  </p>

<router-outlet></router-outlet>