<p>
    <mat-toolbar color="primary">
      <span>SINARIA GROSIR</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      </button>
       <a mat-button href="/public/home">HOME</a>
       <a mat-button href="/public/katalog">KATALOG</a>
       <ul class="uk-breadcrumb">
        <li><a href="public/bantuan">Bantuan</a></li>
        <li><a href="#">Ikuti Kami</a></li>
       </ul>
       <a mat-button href="/public/cart">CART</a>
    </mat-toolbar>
  </p>

<router-outlet></router-outlet>